.ui.accordion .title:not(.ui){
	font-family: inherit;
	color: inherit;
	padding: 0;
	margin-bottom: 0px;

	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.ui.accordion .title.active{
	.icon{
		&:before{
    		content: "\f106";
		}
	}

	.counter{
		display: none;
	}
}