.right-float{
    float: right;
}

.left-float{
    float: left;
}

.center-align{
    text-align: center;
}

.left-align{
    text-align: left;
}

.right-align{
    text-align: right;
}

.justify-align{
    text-align: justify;
}


.top-valign{
    vertical-align: top;
}

.relative{
	position: relative;
}

