h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}


h1{ 
    font-size: $h1-size;
    font-weight: bold;
}

h2{ 
    font-size: $h2-size;
    font-weight: bold;
}

h3{
    font-size: $h3-size;
}

h4{
    font-size: $h4-size;
    font-weight: bold;
}

h5{
    font-size: $h5-size;
}

h6{
    font-size: $h6-size;
}

.module-header{
    margin-bottom: 20px;
    h4{
        font-weight: 500;
    }
}

.action-header{
    .button{
        float: right;
    }
}