.no-margin{
    margin: 0;
}

.mrg-top-3 {
    margin-top: 5px;
}

.mrg-top-5 {
    margin-top: 5px;
}

.mrg-top-10 {
    margin-top: 10px;
}

.mrg-top-15 {
    margin-top: 15px;
}

.mrg-top-20 {
    margin-top: 20px;
}

.mrg-top-25 {
    margin-top: 20px;
}

.mrg-top-30 {
    margin-top: 30px;
}

.mrg-top-40{
    margin-top: 40px;
}

.mrg-bt-0 {
    margin-bottom: 0px;
}

.mrg-bt-5 {
    margin-bottom: 5px;
}

.mrg-bt-10 {
    margin-bottom: 10px;
}

.mrg-bt-15 {
    margin-bottom: 15px;
}

.mrg-bt-20 {
    margin-bottom: 20px;
}

.mrg-bt-25 {
    margin-bottom: 25px;
}

.mrg-bt-30 {
    margin-bottom: 30px;
}

.mrg-left-5{
    margin-left: 5px;
}

.mrg-left-10{
    margin-left: 10px;
}

.mrg-left-15{
    margin-left: 15px;
}

.mrg-right-20{
    margin-right: 20px;
}

.mrg-right-15{
    margin-right: 15px;
}

.mrg-right-10{
    margin-right: 10px;
}

.mrg-right-5{
    margin-right: 5px;
}

.pd-10{
    padding: 10px;
}

.pd-top-10{
    padding-top: 10px;
}

.pd-bottom-10{
    padding-bottom: 10px;
}

.pd-left-10{
    padding-left: 10px;
}

.pd-left-20{
    padding-left: 20px;
}

.pd-left-30{
    padding-left: 30px;
}

.pd-left-40{
    padding-left: 40px;
}

.pd-right-10{
    padding-right: 10px;
}