.normal{
    font-weight: normal;
}

.blue-color{
	color: $brand-blue;
}

.green-color{
	color: $brand-green;
}

.red-color{
	color: $brand-red;
}

.white-color{
	color: $brand-white;
}

.orange-color{
	color: $brand-orange;
}
.gray-color{
	color: $brand-light-gray;
}
.align-left{
	text-align: left;
}

.align-right{
	text-align: right;
}

.align-center{
	text-align: center;
}

.semi-bold{
	font-weight: 500;
}

.light-color{
	color: $brand-light-gray;
}

.small-font{
	font-size: 0.85em;
}

.medium-font{
	font-size: 0.95em;
}

.uppercase{
	text-transform: uppercase;
}

.underline{
	text-decoration: underline;
}
 
.gray-bg{
    background: #f7f7f7;
}

.gray-bg-2{
    background: #DFE4EA;
}

.strikethrough{
	text-decoration: line-through;
}

.lh-doubled{
	line-height: 2;
}

.lh-single{
	line-height: 1;
}

.italic{
	font-style: italic;
}